*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(248, 215, 143);
}

.col-grid {
    margin: 0;
    padding: 0;
}

div>.btn {
    outline: none;
    font-size: 2rem;
    border: solid 1px rgba(0, 0, 0, .1);
    outline: none;
    background: rgba(255, 255, 255, .6);
    width: 100%;
    border-radius: 0px;
    text-align: center;
    margin: 0;
}

div>.btn:focus,
div>.btn:hover {
    outline: none;
    background: rgba(255, 255, 255, .8);
}

.output {
    background: rgba(0, 0, 0, .5);
    color: white;
    text-align: right;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    min-height: 120px;
}

.output .prev-operand {
    color: #aaa;
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}